@model List<Damage.DataAccess.Models.Gadget>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Gadget.js"></script>
}

<div class="add-gadget-button"><span>@Html.ActionLink("Home", "Index", "Home")</span><span>@Html.ActionLink("Contact", "Contact", "Home")</span></div>

<h2>Add New Gadget</h2>
<br />
<br />
@if (Request.IsAuthenticated) {

    foreach( var gadget in Model)
    {
        <div style="width:500px;">
            <div class="gadgetPreview"><img src="~/Content/Images/Gadgets/@(gadget.GadgetName).png" /></div>
            <div class="gadgetPreviewTitle">@gadget.GadgetTitle</div>
            <div class="gadgetPreviewDescription">@Html.Raw(gadget.GadgetDescription)</div>
        </div>
        <div style="clear:both;" class="gadgetAddButton"><button onclick="addNewGadget(@(gadget.GadgetId))">Add Gadget</button></div>
        <br />
    }
}
else
{
    <div>You must be logged in to add a new gadget.</div>
}