@model List<Damage.Gadget.IGadget>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Gadget.js"></script>
}

@if (!Request.IsAuthenticated) {
    <div class="add-gadget-button"><span>@Html.ActionLink("Contact", "Contact", "Home")</span></div>
    <div class="sign-in-request">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "subLoginLink" })to customize your gadgets.</div>
}
else
{
    <div class="add-gadget-button"><span>@Html.ActionLink("Add Gadget", "AddGadget", "Home")</span><span><a href="#" onclick="OpenSettingsDialog()">Settings</a></span><span>@Html.ActionLink("Contact", "Contact", "Home")</span></div>
}

@for (int column = 1; column <= 3; column ++)
{
    <div class="GadgetColumn" id="displayColumn@(column)">
        <div class="columnPerserver"></div>
        @foreach (var gadget in Model.Where(m => m.UserGadget.DisplayColumn == column).OrderBy(m => m.UserGadget.DisplayOrdinal))
        {
            <div class="draggable" data-usergadgetid ="@gadget.UserGadget.UserGadgetId">@Html.Partial("_GadgetFramePartial", gadget)</div>
        }
    </div>
}

<div id="settingsDialog" title="Settings" style="display:none;">
@Html.Partial("_ApplicationSettings")
</div>

<div id="gadgetSettingsDialog" title="Settings" style="display:none;">
</div>

<script type="text/javascript">
    $(document).ready(function() {
        setupDragAndDrop();
    });
</script>
