@using Damage
@model Damage.Gadget.IGadget
@{
    var timer = new System.Diagnostics.Stopwatch();
    timer.Start();
    try
    {
        Model.Initialize();
    }
    catch (Exception ex)
    {
        GlobalConfig.Log.Error("Gadget Error: " + Model.Title, ex);
    }
    timer.Stop();
    var time = timer.ElapsedMilliseconds;
}
@if (Request.IsAuthenticated && Model.UserGadget.Gadget.SettingsSchema.Length > 2)
{
    <div class="GadgetSettings" onclick=" OpenGadgetSettingsDialog(@(Model.UserGadget.UserGadgetId)) "></div>
}
@if (Request.IsLocal)
{
    <div class="GadgetHeader">@(Html.Raw(Model.Title)) @(time)ms</div>
}
else
{
    <div class="GadgetHeader">@Html.Raw(Model.Title)</div>
}
<div class="GadgetFrame">
    @Html.Raw(Model.HTML)
</div>