<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Damage - Dashboard Manager For Google</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	<script type="text/javascript" src="~/Scripts/Search.js"></script>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@RenderSection("scripts", required: false)
	@if (!Request.IsLocal)
	{
		<script type="text/javascript" src="~/Scripts/GoogleAnalytics.js"></script>
	}
</head>
<body>
	<input id="timeZoneOffset" type="hidden" />
	<script type="text/javascript">
		var offset = new Date();
		$("#timeZoneOffset").val(-offset.getTimezoneOffset());

		function dialog(title, body) {
		    var dialogWindow = $("#dialog");
		    dialogWindow.prop("title", title);
		    dialogWindow.html(body);
		    dialogWindow.dialog({
		        buttons: {
		            Ok: function () {
		                $(this).dialog("close");
		            }
		        },
		        close: function (event, ui) { dialogWindow.html(""); }
		    });
		}

		$(document).ready(function () {
		    $.ajaxSetup({
		        cache: false,
		        traditional: true,
		        type: "POST",
		        error: function (request, status, error) {
		            dialog("Error", "An error has occurred: (" + request.status + ") " + request.statusText);
		        }
		    });



		    $("#txtSearch").autocomplete({
		        source: function (request, response) {
		            $.ajax({
		                url: "https://suggestqueries.google.com/complete/search?client=chrome&q=" + encodeURIComponent($("#txtSearch").val()),
		                dataType: "jsonp",
		                success: function (data) {
		                    response($.map(data[1], function (item) {
		                        return {
		                            label: item,
		                            value: item
		                        }
		                    }));
		                }
		            });
		        },
		        minLength: 2,
		        select: function (event, ui) {
		            Search(ui.item.value)
		        }
		    });
		    
		    $("#txtSearch").keyup(function (event) {
		        if (event.keyCode == 13) {
		            $("#btnSearch").click();
		        }
		    });
		});
	</script>
	<div id="holder" style="min-height: 100%; position: relative;">
		<div id="holder2" style="padding-bottom: 70px">
			<header>
				<div class="content-wrapper">
					<div class="topMenu">
						<nav>
							<ul id="menu">
								<li><a href="https://mail.google.com/mail/" target="_blank">Gmail</a></li>
								<li><a href="https://www.google.com/voice#inbox" target="_blank">Voice</a></li>
								<li><a href="https://maps.google.com/maps?hl=en&tab=wl" target="_blank">Maps</a></li>
								<li><a href="https://play.google.com/?hl=en&tab=w8" target="_blank">Play</a></li>
								<li><a href="https://play.google.com/music/listen#start" target="_blank">Music</a></li>
								<li><a href="https://www.youtube.com/?tab=w1" target="_blank">YouTube</a></li>
								<li><a href="https://www.google.com/imghp?hl=en&tab=wi" target="_blank">Images</a></li>
								<li><a href="https://drive.google.com/?tab=wo&authuser=0" target="_blank">Drive</a></li>
								<li><a href="https://www.google.com/calendar" target="_blank">Calendar</a></li>
								<li><a href="https://translate.google.com/?hl=en&tab=wT" target="_blank">Translate</a></li>
								<li><a href="https://wallet.google.com/manage/?tab=wa" target="_blank">Wallet</a></li>
							</ul>
						</nav>
						<div class="float-right">
							<section id="login">
								@Html.Partial("_LoginPartial")
							</section>
						</div>
					</div>
				</div>
				<div class="site-title">
					<div>
						<span style="cursor: default">Damage</span>
						<span>
							<input type="text" id="txtSearch" />
							<img id="btnSearch"src="~/Content/Images/searchButton.png" alt="Search" style="cursor: pointer" onclick="Search($('#txtSearch').val())" />
						</span>
					</div>
					<div class="subtitle">Dashboard Manager For Google</div>
				</div>
			</header>
			<div id="body">
				<section class="content-wrapper main-content clear-fix">
					@RenderBody()
				</section>
			</div>
			<div id="dialog" title="Error" style="display: none;">
			</div>
		</div>
		<footer>
			<div class="content-wrapper">
				<div class="float-left">
					<p>&copy; @DateTime.Now.Year - Craig Alexander</p>
				</div>
				<div class="float-right paypal">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_donations">
						<input type="hidden" name="business" value="6DB3QY8FQQG7Q">
						<input type="hidden" name="lc" value="US">
						<input type="hidden" name="item_name" value="Damage.IO">
						<input type="hidden" name="currency_code" value="USD">
						<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHosted">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div>
				<div style="clear: both; margin-left: auto; margin-right: auto; text-align: center;">Damage.IO is not affiliated with or operated by Google.</div>
			</div>
			@RenderSection("footer", required: false)
		</footer>
	</div>
</body>
</html>
