<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Damage - Dashboard Manager For Google</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	<script type="text/javascript" src="~/Scripts/Search.js"></script>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@RenderSection("scripts", required: false)
	@if (!Request.IsLocal)
	{
		<script type="text/javascript" src="~/Scripts/GoogleAnalytics.js"></script>
	}
</head>
<body>
	<header>
		<div class="content-wrapper">
			<div class="topMenu">
				<nav>
					<ul id="menu">
						<li><a href="https://mail.google.com/mail/?tab=wm" target="_blank">Gmail</a></li>
						<li><a href="https://www.google.com/voice#inbox" target="_blank">Voice</a></li>
						<li><a href="https://maps.google.com/maps?hl=en&tab=wl" target="_blank">Maps</a></li>
						<li><a href="https://play.google.com/?hl=en&tab=w8" target="_blank">Play</a></li>
						<li><a href="https://play.google.com/music/listen#start" target="_blank">Music</a></li>
						<li><a href="https://www.youtube.com/?tab=w1" target="_blank">YouTube</a></li>
						<li><a href="http://www.google.com/imghp?hl=en&tab=wi" target="_blank">Images</a></li>
						<li><a href="https://drive.google.com/?tab=wo&authuser=0" target="_blank">Drive</a></li>
						<li><a href="https://www.google.com/calendar?tab=wc" target="_blank">Calendar</a></li>
						<li><a href="https://translate.google.com/?hl=en&tab=wT" target="_blank">Translate</a></li>
						<li><a href="https://wallet.google.com/manage/?tab=wa" target="_blank">Wallet</a></li>
					</ul>
				</nav>
				<div class="float-right">
					<section id="login">
						@Html.Partial("_LoginPartial")
					</section>
				</div>
			</div>
		</div>
		<div class="site-title">
			<div>
				<span style="cursor: default">Damage</span>
				<span>
					<input type="text" id="txtSearch" />
				</span>
				<span>
					<img src="~/Content/Images/searchButton.png" alt="Search" style="cursor: pointer" onclick="Search($('#txtSearch').val())" />
				</span>
			</div>
			<div class="subtitle">Dashboard Manager For Google</div>
		</div>
	</header>
	<div id="body">
		<section class="content-wrapper main-content clear-fix">
			@RenderBody()
		</section>
	</div>
	<div id="dialog" title="Error" style="display: none;">
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year - Craig Alexander</p>
			</div>
		</div>
	</footer>


	<script type="text/javascript">

		$(document).ready(function () {
			$.ajaxSetup({
				cache: false,
				traditional: true,
				type: "POST",
				error: function (request, status, error) {
				    var dialogWindow = $("#dialog");
				    dialogWindow.prop("title", "Error");
				    dialogWindow.html("An error has occurred: (" + request.status + ") " + request.statusText);
				    dialogWindow.dialog({
					    close: function (event, ui) { dialogWindow.html(""); }
					});
				}
			});



			$("#txtSearch").autocomplete({
				source: function (request, response) {
					$.ajax({
						url: "http://suggestqueries.google.com/complete/search?client=chrome&q=" + encodeURIComponent($("#txtSearch").val()),
						dataType: "jsonp",
						success: function (data) {
							response($.map(data[1], function (item) {
								return {
									label: item,
									value: item
								}
							}));
						}
					});
				},
				minLength: 2,
				select: function (event, ui) {
					Search(ui.item.value)
				}
			});
		});

	</script>
</body>
</html>
